@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #e3170a;
    --color-secondary: #a9e5bb;
    --color-tertiary: #fcf6b1;
    --color-quaternary: #f7b32b;
    --color-quinary: #2d1e2f;
}

.nav-link {
    @apply tracking-widest text-white uppercase font-bold hover:text-secondary transition-all duration-75;
}
.btn {
    @apply shadow-xl rounded-full tracking-widest py-4 bg-quinary text-white uppercase font-ubuntuBold hover:bg-tertiary hover:text-quinary transition-all duration-75 px-12;
}
.btn-primary {
    @apply bg-quinary hover:bg-secondary;
}
.btn-secondary {
    @apply bg-quaternary hover:bg-primary;
}
